@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.add-to-cart-btn{
  border-radius: 8px;
  background: linear-gradient(90deg, #E56EEB -13.59%, #8863FB 111.41%);
  color: #ffffff;
}